.DS_STORE
config/*.yml
config/*.yaml
config/ssh-config
keys/id*
keys/.vault_password
inventory
*.key
*.crt
playbooks/config/ssh-config
playbooks/monit.yml
playbooks/createusers.yml
.ansible
keys/*
*.env
.cache_ggshield
provision/multipass/.state
cmd.txt
k3s.yaml
