SEMAPHORE_DB_HOST=db
SEMAPHORE_DB=semaphore
SEMAPHORE_DB_PORT=3306

SEMAPHORE_DB_USER=semaphore
SEMAPHORE_DB_PASS=__DB_PASSWORD_HERE__

SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_NAME=admin
SEMAPHORE_ADMIN_PASSWORD=__APP_PASSWORD_HERE__
SEMAPHORE_ADMIN_EMAIL=__EMAIL_HERE__


